.cart-web-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto auto auto;

  grid-row-gap: 0px;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "mainpicture mainpicture mainpicture mainpicture mainpicture mainpicture"
    "tableandcart tableandcart tableandcart tableandcart tableandcart tableandcart"
    "slidingarea slidingarea slidingarea slidingarea slidingarea slidingarea"
    "footer footer footer footer footer footer";
}

.navbar {
  grid-area: nav;
  margin-left: 90px;
  margin-right:90px;
}

.MainWallpaper {
  grid-area: mainpicture;
}

.table-and-cart {
  display: grid;
  justify-content: center;
  grid-area: tableandcart;
  grid-gap: 70px;
  grid-template-areas: "carttable carttable carttable carttable checkoutcard checkoutcard";
}

.cart-table {
  margin-top: 60px;
  margin-bottom: 70px;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-area: carttable;
}

.checkout-card {
  margin-top: 60px;
  margin-bottom: 70px;
  grid-area: checkoutcard;
  display: grid;
  justify-content: center;
}

.sliding-area {
  grid-area: slidingarea;
  background: linear-gradient(
    180deg,
    #f9ebcd 0%,
    #faebcc 25%,
    #feedc9 31%,
    #feecd1 44%,
    #fff6d9 56%,
    #fff3e7 100%,
    #fbf1e7 100%
  );
  margin-bottom: 45px;
}

.footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  background-color: #fbf1e7;
}

@media screen and (max-width: 768px) {
  .web-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.14fr 0.6fr auto auto 1fr;

    grid-template-areas:
      "nav"
      "mainpicture"
      "tableandcart"
      "slidingarea"
      "footer";
  }
}

@media screen and (max-width: 1900px) {
  .web-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.6fr auto 0.6fr 1fr;

    grid-template-areas:
      "nav"
      "mainpicture"
      "tableandcart"
      "slidingarea"
      "footer";
  }
}

@media screen and (max-width: 610px) {
  .table-and-cart {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
      "carttable"
      "checkoutcard";
  }
}
