.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.light-blue-gradient {
    background: linear-gradient(to right, #877d93 0%, #2574fc49 100%);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    justify-content: center;
}

.col-md-7 {
    max-width: 500px;
    height: 460px;
    background: linear-gradient(to bottom, #ffffff, #f8e8c9);
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14), 0 0 10px rgb(213, 204, 204);
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
}

.s .card-body {
    padding: 1.25rem;
}
.sign-up-password{
    padding-top: 10px;
}
.login-email {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
}

.btn-primary {
    cursor: pointer;
    border-radius: 5em;
    color: black;
    background: #faebcc;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
  
    margin-top: 7%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    
}
.btn-primary:hover {
    background: #ffffff;
   
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
}